<h2> <strong> Lista de filmes: </strong> </h2>

<ul>
<% @movies.each do |movie| %>
  <li> <%= link_to movie.title, movie_path(movie.id) %>(<%= movie.launch_year %>) </li>
<% end %> 
</ul>

<%= link_to 'Adicionar Filme', new_movie_path %> 