<h1> Catálogo de Filmes </h1>

<div>
  <%= link_to 'Ver todos os gêneros', genres_path %> <br />
  <%= link_to 'Ver todos os filmes', movies_path %> <br />
  <%= link_to 'Ver todos os diretores', directors_path %>
</div>